@{
    ViewData["Title"] = "Home Page";
}

<section class="u-clearfix u-section-1" id="sec-fb93">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-group u-palette-5-light-2 u-shape-rectangle u-group-1">
            <div class="u-container-layout u-container-layout-1">
                <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                <img class="u-image u-image-circle u-preserve-proportions u-image-2" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                <img class="u-image u-image-circle u-preserve-proportions u-image-3" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                <img class="u-image u-image-circle u-preserve-proportions u-image-4" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                <img class="u-image u-image-circle u-preserve-proportions u-image-5" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                <img class="u-image u-image-circle u-preserve-proportions u-image-6" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
                <img class="u-image u-image-circle u-preserve-proportions u-image-7" src="https://pixabay.com/get/g6b6d4b3b24ca4814904e00cc731575597addd8f43974149266a2bfb2bd8099a3fbc2c1cdfcd88ea0cb730ed6ff553ab41015b3c6e0aec4edf17e36f84f736b56_1280.png" alt="" data-image-width="1280" data-image-height="1280">
            </div>
        </div>
    </div>
</section>