
@{
    ViewData[""] = "Womens collection";
}



<h1 style="margin-left:400px"><u> Women's Collections</u></h1>


<div class="container mt-4">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-1">
                        <img src="~/NewFolder/NewFolder/ai.jfif" width="90">

                        <div class="d-flex flex-column ml-2"><span>@product.ProductName</span><span class="text-black-50">@product.Brand</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                    <h6>@product.Descriptions</h6>
                    <div class="d-flex justify-content-between install mt-3"><span> 172 Products</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
                </div>
            </div>
        }

    </div>
</div>